/* ==== BASE STYLES ====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

html {
  font-family: "poppins" , sans-serif;
  font-size: 15px; }
  body {
    line-height: 1.7;
    color: rgb(36, 36, 36);
    font-weight: normal;
    font-size: 1rem;
    font-family: "Poppins",sans-serif; }
/* ========================
INCLUDE STYLES AND COMPONENTS
===================== */
/* ================== HELPERS  =================== */
a:hover {
  text-decoration: none; }

.img-wrap {
  text-align: center;
  display: block; }
  .img-wrap img {
    max-width: 100%; }

.icon-wrap {
  text-align: center;
  display: inline-block; }

.price-wrap {
  letter-spacing: -0.7px; }

.content-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 2rem 2.3rem; }

/* =================  DEFINED VARIABLES =================== */
.icon-xs, .icon-sm, .icon-md, .icon-lg {
  display: inline-block;
  text-align: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0; }
 
          .navbar-honey {
            -webkit-transition: background-color 0.15s ease-in-out;
            transition: background-color 0.15s ease-in-out;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            
            background-color: #f0c73e;
            }
.icon-xs {
  width: 32px;
  height: 32px;
  line-height: 32px !important;
  font-size: 16px; }

.icon-sm {
  width: 48px;
  height: 48px;
  line-height: 48px !important;
  font-size: 20px; }

.icon-md {
  width: 60px;
  height: 60px;
  line-height: 60px !important;
  font-size: 28px; }

.icon-lg {
  width: 96px;
  height: 96px;
  line-height: 96px !important;
  font-size: 42px; }

.img-xs, .img-sm, .img-md, .img-lg {
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0; }

.img-xs {
  width: 40px;
  height: 40px; }

.img-sm {
  width: 80px;
  height: 80px; }

.img-md {
  width: 140px;
  height: 140px; }

.img-lg {
  width: 250px;
  height: 250px; }

.center-xy {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.center-y {
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.center-x {
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.vh-100 {
  height: 100vh; }

.overflow-h {
  overflow: hidden; }

.flip-h {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1); }

.opacity {
  opacity: .5; }
a{
    color: #eb9605;
}
[class*="hover-"] {
  -webkit-transition: .5s;
  transition: .5s; }

.hover-bg:hover {
  background: #eb9605;
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: -webkit-gradient(linear, left top, right bottom, from(#eb9605), to(#eb9605));
  background: linear-gradient(to bottom right, #eb9605, #eb9605);
  /* Standard syntax */
  -webkit-transition: .5s;
  transition: .5s; }

.hover-zoom:hover {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scaleX(1);
          transform: scaleX(1); }

/* ============== spacing ============== */
.padding-y {
  padding-top: 40px;
  padding-bottom: 40px; }

.padding-top {
  padding-top: 40px; }

.padding-bottom {
  padding-bottom: 40px; }

.padding-y-lg {
  padding-top: 80px;
  padding-bottom: 80px; }

.padding-top-lg {
  padding-top: 80px; }

.padding-bottom-lg {
  padding-bottom: 80px; }

.padding-y-sm {
  padding-top: 20px;
  padding-bottom: 20px; }

.padding-top-sm {
  padding-top: 20px; }

.padding-bottom-sm {
  padding-bottom: 20px; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

var {
  font-style: normal; }

figure {
  margin-bottom: 0; }

.form-noborder input, .form-noborder select, .form-noborder .btn {
  border: 0; }
.form-noborder select.form-control-lg:not([size]):not([multiple]) {
  height: 2.875rem; }

/* all clearfix */
article:after,
.form-group:after {
  display: block;
  clear: both;
  content: ""; }

/* -------------------- small grid gutter --------------------- */
.row-sm {
  margin-right: -7px;
  margin-left: -7px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.row-sm > [class^="col"] {
  padding-left: 7px;
  padding-right: 7px; }

.bg {
  background-color: #f8f9fa; }

.bg-white {
  background-color: #fff; }

.bg-orange {
  background-color: #ff9017; }

.bg-green {
  background-color: #00b517; }

.bg-blue {
  background-color: #eb9605; }

.bg-red {
  background-color: #fa3434; }

.bg-gradient-blue {
  background: rgba(33, 37, 41, 0.4);
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(49, 103, 235, 0.9)), to(rgba(33, 37, 41, 0.4)));
  background: linear-gradient(to bottom right, rgba(49, 103, 235, 0.9), rgba(33, 37, 41, 0.4));
  /* Standard syntax */
  -webkit-transition: .5s;
  transition: .5s; }

.bg-gradient-green {
  background: rgba(33, 37, 41, 0.4);
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 181, 23, 0.9)), to(rgba(33, 37, 41, 0.4)));
  background: linear-gradient(to bottom right, rgba(0, 181, 23, 0.9), rgba(33, 37, 41, 0.4));
  /* Standard syntax */
  -webkit-transition: .5s;
  transition: .5s; }

.bg-gradient-orange {
  background: rgba(33, 37, 41, 0.4);
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 144, 23, 0.9)), to(rgba(33, 37, 41, 0.4)));
  background: linear-gradient(to bottom right, rgba(255, 144, 23, 0.9), rgba(33, 37, 41, 0.4));
  /* Standard syntax */
  -webkit-transition: .5s;
  transition: .5s; }

.bg-gradient-red {
  background: rgba(33, 37, 41, 0.4);
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(250, 52, 52, 0.9)), to(rgba(33, 37, 41, 0.4)));
  background: linear-gradient(to bottom right, rgba(250, 52, 52, 0.9), rgba(33, 37, 41, 0.4));
  /* Standard syntax */
  -webkit-transition: .5s;
  transition: .5s; }

.bg-gradient-pink {
  background: rgba(33, 37, 41, 0.4);
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(232, 62, 140, 0.9)), to(rgba(33, 37, 41, 0.4)));
  background: linear-gradient(to bottom right, rgba(232, 62, 140, 0.9), rgba(33, 37, 41, 0.4));
  /* Standard syntax */
  -webkit-transition: .5s;
  transition: .5s; }

.bg-pattern {
  background-image: url(../images/banners/bg-pattern.svg), linear-gradient(135deg, #eb9605, #545454);
  background-size: cover, auto;
  background-repeat: no-repeat, repeat;
  background-position: 0px 0px, 50% 50%; }

.bg-img {
  overflow: hidden;
  background-color: #ddd;
  background-image: linear-gradient(135deg, rgba(49, 103, 235, 0.8), rgba(84, 84, 84, 0.9)), url("../images/banners/bg-cpu.jpg");
  background-position: 0px 0px, 50% 50%;
  background-size: auto  cover; }

.overlay-gradient {
  position: relative; }
  .overlay-gradient:before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .6;
    -webkit-transition: .5s;
    transition: .5s;
    background: aqua;
    /* For browsers that do not support gradients */
    /* For Safari 5.1 to 6.0 */
    /* For Opera 11.1 to 12.0 */
    /* For Firefox 3.6 to 15 */
    background: -webkit-gradient(linear, left top, right bottom, from(#eb9605), to(aqua));
    background: linear-gradient(to bottom right, #eb9605, aqua);
    /* Standard syntax */ }
  .overlay-gradient:hover:before {
    opacity: .9; }

/* --------------------- titles ---------------------- */
.section-heading {
  margin-bottom: 20px;
  margin-top: 15px; }

.section-title {
  color: #212529; }

.title-text {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #212529; }

.title-page {
  color: #212529; }

.b {
  font-weight: 600; }

.white {
  color: #fff; }

.dark {
  color: #212529; }

.black {
  color: #000; }

p:last-child {
  margin-bottom: 0; }

/* ==================  title helpers ================ */
.rtl {
  direction: rtl; }

.ltr {
  direction: ltr; }

/* ================== SECTIONS =================== */
/* ================== header main ==================  */
.header-top-light .nav-link {
  color: #969696; }
  .header-top-light .nav-link:hover {
    color: #212529; }

.header-main {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem; 
}

.brand-wrap .logo, .navbar-brand .logo {
  margin-right: 7px;
  max-height: 42px;
  display: inline-block; }

.navbar-main .nav-link {
  font-weight: 600;
  color: #1c1c1c; }
  .navbar-main .nav-link:hover {
    color: #666; }

.widget-header {
  display: inline-block;
  vertical-align: middle;
  position: relative; }
  .widget-header a {
    color: #343a40; }
    .widget-header a:hover {
      color: #eb9605; }
  .widget-header i {
    color: #969696; }
  .widget-header form {
    min-width: 280px; }
  .widget-header .title {
    display: block; }
  .widget-header .notify {
    position: absolute;
    top: -3px;
    right: -10px; }
  .widget-header:hover i {
    color: #eb9605; }

/* desktop only */
/* desktop only .end */
/*==================== 
	Footer 
====================== */

/* Main Footer */
footer .main-footer{	padding: 20px 0;	background: #252525;}
footer ul{	padding-left: 0;	list-style: none;}

/* Copy Right Footer */
.footer-copyright {	background: #222;	padding: 5px 0;}
.footer-copyright .logo {    display: inherit;}
.footer-copyright nav {    float: right;    margin-top: 5px;}
.footer-copyright nav ul {	list-style: none;	margin: 0;	padding: 0;}
.footer-copyright nav ul li {	border-left: 1px solid #505050;	display: inline-block;	line-height: 12px;	margin: 0;	padding: 0 8px;}
.footer-copyright nav ul li a{	color: #969696;}
.footer-copyright nav ul li:first-child {	border: medium none;	padding-left: 0;}
.footer-copyright p {	color: #969696;	margin: 2px 0 0;}

/* Footer Top */
.footer-top{	background: #252525;	padding-bottom: 30px;	margin-bottom: 30px;	border-bottom: 3px solid #222;}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer{	background: transparent;}
footer.transparent .footer-copyright{	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}

/* Footer light */
footer.light .footer-top{	background: #f9f9f9;}
footer.light .main-footer{	background: #f9f9f9;}
footer.light .footer-copyright{	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;}

/* Footer 4 */
.footer- .logo {    display: inline-block;}

/*==================== 
	Widgets 
====================== */
.widget{	padding: 20px;	margin-bottom: 40px;}
.widget.widget-last{	margin-bottom: 0px;}
.widget.no-box{	padding: 0;	background-color: transparent;	margin-bottom: 40px;
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{	margin-bottom: 18px;}
.widget li a{	color: #ff8d1e;}
.widget li a:hover{	color: #4b92dc;}
.widget-title {margin-bottom: 20px;}
.widget-title span {background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 25px;position: relative;width: 20%;}
.widget-title span::after {background: inherit;content: "";height: inherit;    position: absolute;top: -4px;width: 50%;}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{	float: right;	background: #7f7f7f;}

.typo-light h1, 
.typo-light h2, 
.typo-light h3, 
.typo-light h4, 
.typo-light h5, 
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small{	color: #fff;}

ul.social-footer2 {	margin: 0;padding: 0;	width: auto;}
ul.social-footer2 li {display: inline-block;padding: 0;}
ul.social-footer2 li a:hover {background-color:#ff8d1e;}
ul.social-footer2 li a {display: block;	height:30px;width: 30px;text-align: center;}
.footer-btn{background-color: #ff8d1e; color:#fff;}
.footer-btn:hover, .footer-btn:focus, .footer-btn.active {background: #4b92dc;color: #fff;
-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-webkit-transition: all 250ms ease-in-out 0s;
-moz-transition: all 250ms ease-in-out 0s;
-ms-transition: all 250ms ease-in-out 0s;
-o-transition: all 250ms ease-in-out 0s;
transition: all 250ms ease-in-out 0s;

}
  
  .top-social a {
    color: #000; }
    .top-social a:hover {
      color: #777; }
/* ================== COMPONENTS =================== */
/* ================ OWL SLIDER BANNER ================ */
.slider-banner-owl .owl-nav .owl-prev, .slider-banner-owl .owl-nav .owl-next {
  padding: 16px 7px;
  color: #FFF;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 9;
  position: absolute; }
.slider-banner-owl .owl-nav .owl-prev {
  left: 0; }
.slider-banner-owl .owl-nav .owl-next {
  right: 0; }
.slider-banner-owl .item-slide img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.slider-banner-slick .slick-prev, .slider-banner-slick .slick-next {
  padding: 18px 7px;
  color: #FFF;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 9;
  position: absolute; }
  .slider-banner-slick .slick-prev:before, .slider-banner-slick .slick-next:before {
    display: none; }
.slider-banner-slick .slick-prev {
  left: 0; }
.slider-banner-slick .slick-next {
  right: 0; }
.slider-banner-slick .item-slide img {
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.btn-facebook {
  background-color: #405D9D;
  color: #fff; }
  .btn-facebook:hover {
    color: #fff; }

.btn-instagram {
  background-color: #E52D27;
  color: #fff; }
  .btn-instagram:hover {
    color: #fff; }

.btn-youtube {
  background-color: #C8046C;
  color: #fff; }
  .btn-youtube:hover {
    color: #fff; }

.btn-twitter {
  background-color: #42AEEC;
  color: #fff; }
  .btn-twitter:hover {
    color: #fff; }

.btn-google {
  background-color: #ff7575;
  color: #fff; }
  .btn-google:hover {
    color: #fff; }

.btn-icon {
  width: calc(1.5em + 0.9rem + 2px);
  text-align: center;
  padding-left: 0;
  padding-right: 0; }
  .btn-icon i {
    line-height: 1; }

.btn-light {
  background-color: #fff;
  border-color: #e4e4e4; }
  .btn-light i {
    color: #969696; }
  .btn-light:hover {
    background-color: #fff;
    border-color: #989898; }

.btn .text + i {
  margin-left: 10px; }
.btn i + .text {
  margin-left: 10px; }

.itemside {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  .itemside .aside {
    position: relative;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .itemside .info {
    padding-left: 15px;
    padding-right: 7px; }
  .itemside p {
    margin-bottom: 0; }
  .itemside .title {
    display: block;
    margin-bottom: 5px;
    color: #212529; }
  .itemside a.title:hover {
    color: #eb9605; }

a.itemside {
  color: #000000; }

.items-bordered-wrap .itemside:not(:last-child) {
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 10px;
  margin-bottom: 10px; }

.itemlist {
  padding: 20px;
  border-bottom: 1px solid #eee; }

.list-inline {
  margin-bottom: 0; }

.list-inline-item {
  vertical-align: middle; }

/* --------- description list --------*/
dl[class="row"] {
  margin-bottom: 0; }

[class*="dlist-"] {
  margin-bottom: 5px; }
  [class*="dlist-"] dd {
    margin-bottom: 0; }

.dlist-inline dt, .dlist-inline dd {
  display: inline-block; }

.dlist-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .dlist-align dt {
    width: 120px;
    word-wrap: break-word;
    font-weight: normal; }
  .dlist-align dd {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }

/* -------------------- list.row--------------------- */
ul.row, ul.row-sm {
  list-style: none;
  padding: 0; }

/* ================= lists ================= */
[class*="list-"] li:after {
  visibility: hidden;
  display: block;
  content: "";
  overflow: hidden;
  height: 0;
  clear: both; }

.list-icon {
  list-style: none;
  padding-left: 0; }
  .list-icon li {
    margin-bottom: 7px;
    position: relative;
    padding-left: 30px; }
  .list-icon .icon {
    width: 22px;
    margin-right: 15px;
    vertical-align: middle;
    text-align: center;
    color: #545454;
    position: absolute;
    top: 3px;
    left: 0; }
  .list-icon span {
    vertical-align: middle; }

.list-bullet {
  list-style: none;
  padding-left: 0; }

.list-bullet li {
  margin-bottom: 5px;
  position: relative;
  padding-left: 15px; }

.list-bullet li::before {
  content: " ";
  position: absolute;
  top: 8px;
  left: 0;
  width: 7px;
  border-radius: 100%;
  height: 7px;
  background: #ced4da; }

.list-check {
  padding-left: 0;
  list-style: none; }
  .list-check > li {
    position: relative;
    padding-left: 24px;
    margin-bottom: 7px; }
  .list-check > li::before {
    font-family: "poppins" , sans-serif;
    font-weight: 900;
    font-size: 12px;
    color: #00b517;
    position: absolute;
    top: 2px;
    left: 0;
    }

.list-normal {
  list-style: none;
  padding-left: 0; }
  .list-normal li {
    padding-left: 1em;
    margin-bottom: 7px; }
  .list-normal li:before {
    content: "\2022";
    color: #eb9605;
    display: inline-block;
    width: 1em;
    margin-left: -1em; }
    .bg-honey{
      background: #fffdd0;
    }
.list-menu {
  list-style: none;
  margin: 0;
  padding-left: 0; }
  .list-menu li {
    margin-bottom: 5px; }
  .list-menu a {
    color: #343a40; }
    .list-menu a:hover {
      color: #eb9605; }

.cols-two {
  -webkit-column-count: 2;
          column-count: 2; }

.cols-three {
  -webkit-column-count: 3;
          column-count: 3; }

.cols-four {
  -webkit-column-count: 4;
          column-count: 4; }

/* IF CARD IS LINKED */
a[class*='card'] {
  color: initial; }
  a[class*='card']:hover .title {
    color: #eb9605; }

/* BASE STYLE FOR PRODUCT ITEM */
[class*='card-product'] a.title {
  color: #212529;
  display: block; }
  [class*='card-product'] a.title:hover {
    color: #eb9605; }
[class*='card-product'] .badge {
  top: 10px;
  left: 10px;
  position: absolute; }
[class*='card-product'] p {
  margin-bottom: 0; }
[class*='card-product'] .img-wrap {
  overflow: hidden;
  position: relative; }
  [class*='card-product'] .img-wrap img {
    height: 100%;
    max-width: 100%;
    width: auto;
    display: inline-block;
    -o-object-fit: cover;
       object-fit: cover; }

/* GRID STYLE PRODUCT ITEM */
.card-product-grid {
  margin-bottom: 20px; }
  .card-product-grid .img-wrap {
    border-radius: 0.2rem 0.2rem 0 0;
    height: 220px; }
  .card-product-grid .info-wrap {
    overflow: hidden;
    padding: 18px 20px; }
  .card-product-grid .bottom-wrap {
    padding: 18px;
    border-top: 1px solid #e4e4e4; }
  .card-product-grid .topbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    left: 0;
    text-align: initial;
    padding: 10px 15px; }
    .card-product-grid .topbar a {
      color: #ccc; }
      .card-product-grid .topbar a:hover {
        color: #eb9605; }
  .card-product-grid .fix-height {
    height: 80px;
    overflow: hidden; }
  .card-product-grid .btn-overlay {
    -webkit-transition: .5s;
    transition: .5s;
    opacity: 0;
    left: 0;
    bottom: 0;
    color: #fff;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    position: absolute;
    background: rgba(0, 0, 0, 0.5); }
  .card-product-grid:hover .btn-overlay {
    opacity: 1; }
  .card-product-grid:hover {
    -webkit-box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
            box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
    -webkit-transition: .3s;
    transition: .3s; }

.item-slide .card-product-grid {
  margin-bottom: 0; }

/* LARGE LIST STYLE PRODUCT ITEM */
.card-product-list {
  margin-bottom: 20px; }
  .card-product-list .img-wrap {
    height: 220px;
    border-radius: 0.37rem 0 0 0.37rem; }
  .card-product-list .info-main {
    padding: 1.5rem 1rem; }
  .card-product-list .info-aside {
    padding: 1.5rem 1rem;
    border-left: 1px solid #e4e4e4;
    height: 100%; }

.card-sm .img-wrap {
  height: 160px; }

.card-lg .img-wrap {
  height: 280px; }

.card-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  background-size: cover;
  background-position: center center;
  border-radius: 0.37rem; }
  .card-banner .card-body {
    background-size: cover;
    position: relative;
    z-index: 10; }
  .card-banner .caption {
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 10;
    padding: 1.25rem;
    color: #fff; }
  .card-banner .caption.bottom {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%; }
  .card-banner .caption.top {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%; }
  .card-banner .caption.left {
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute; }
  .card-banner .text-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: 7px 20px;
    padding-top: 30px;
    border-radius: 0 0 0.37rem 0.37rem;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    color: #fff; }
  .card-banner .img-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    mix-blend-mode: multiply;
    max-width: 100%; }

.card .img-wrap {
  overflow: hidden; }

.icontext {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle; }
  .icontext p {
    margin-bottom: 0; }
  .icontext .text {
    width: 100%;
    line-height: 1.2;
    color: #212529; }
  .icontext .icon {
    position: relative;
    margin-right: 10px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0; }
  .icontext .title {
    display: block;
    margin-bottom: 0; }

.tag {
  display: inline-block;
  padding: 3px 7px;
  background: #f2f2f2;
  border: 1px solid #eee;
  border-radius: 3px;
  margin-top: 4px;
  margin-right: 2px;
  font-size: 85%; }

.item-logo {
  margin-bottom: 20px;
  text-align: center; }
  .item-logo img {
    max-height: 65px; }

.notify {
  position: absolute;
  top: -4px;
  right: -10px;
  display: inline-block;
  padding: .25em .6em;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  border-radius: 3rem;
  color: #fff;
  background-color: #fa3434; }

.price {
  font-weight: 600;
  color: #212529; }

.price-old {
  color: #969696;
  margin-left: 3px;
  font-size: 85%; }

.icon-control {
  margin-top: 5px;
  float: right;
  font-size: 80%; }

.card-header .title {
  margin-bottom: 0;
  line-height: 1.5; }

.filter-group {
  border-bottom: 1px solid #e4e4e4; }
  .filter-group .card-header {
    border-bottom: 0; }
  .filter-group:last-child {
    border-bottom: 0; }

/* ====================== block ==================== */
.box {
  padding: 20px;
  background: #fff;
  border-radius: 0.37rem;
  border: 1px solid #e4e4e4; }
  .box img {
    max-width: 100%; }

/* ================= RATINGS ============== */
.label-rating {
  margin-left: 7px;
  display: inline-block;
  vertical-align: middle; }

/* rating-list */
.rating-stars {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  white-space: nowrap;
  clear: both; }
  .rating-stars i {
    font-size: 14px;
    color: #ccc;
    display: inline; }
  .rating-stars li {
    display: block;
    text-overflow: clip;
    white-space: nowrap;
    z-index: 1; }
  .rating-stars li.stars-active {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden; }
    .rating-stars li.stars-active i {
      color: orange; }

/* ================= TRACKING ============== */
.tracking-wrap {
  position: relative;
  background-color: #ddd;
  height: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  margin-top: 50px; }
  .tracking-wrap .step {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 25%;
    margin-top: -18px;
    text-align: center;
    position: relative; }
  .tracking-wrap .step::before {
    height: 7px;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 18px; }
  .tracking-wrap .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-radius: 100%;
    background: #ddd; }
  .tracking-wrap .text {
    display: block;
    margin-top: 7px; }
  .tracking-wrap .step.active .icon {
    background: #eb9605;
    color: #fff; }
  .tracking-wrap .step.active .text {
    font-weight: 400;
    color: #000; }
  .tracking-wrap .step.active:before {
    background: #eb9605; }

.menu-category {
  margin: 0;
  padding: 0; }
  .menu-category li {
    position: relative;
    display: block;
    border-bottom: 1px solid #e4e4e4; }
  .menu-category li:last-child {
    border-bottom: 0; }
  .menu-category a {
    color: #212529; }
  .menu-category > li > a {
    display: block;
    padding: 10px 18px; }
  .menu-category .submenu {
    display: none;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 20;
    position: absolute;
    left: 100%;
    top: 0;
    width: 250px;
    background: #fff; }
    .menu-category .submenu li {
      list-style: none; }
    .menu-category .submenu li a {
      padding: 10px 16px;
      display: block; }
  .menu-category li:hover {
    background: #f8f9fa;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  .menu-category li:hover .submenu {
    display: block;
    margin-left: 0px; }
  .menu-category .has-submenu > a:after {
    content: "\203A";
    font-size: 24px;
    color: #999;
    line-height: 18px;
    font-weight: bold;
    float: right; }

.form-inline input[type='number'] {
  max-width: 100px; }

.input-spinner {
  width: 120px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle; }
  .input-spinner input.form-control {
    text-align: center;
    max-width: 46px;
    -ms-flex-preferred-size: 46px;
        flex-basis: 46px;
    border-color: #e4e4e4;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0; }
  .input-spinner .btn {
    width: 36px;
    text-align: center; }

.checkbox-btn {
  position: relative; }
  .checkbox-btn input {
    position: absolute;
    z-index: -1;
    opacity: 0; }
  .checkbox-btn input:checked ~ .btn {
    border-color: #eb9605;
    background-color: #eb9605;
    color: #fff; }

/* ================== PAGES =================== */
/* ================ PAGES HEADER ================== */
.section-pagetop {
  padding: 45px 0; }

/* ================== PAGE DETAILS ==================  */
.gallery-wrap .img-big-wrap {
  margin-bottom: 10px;
  border-radius: 0.37rem;
  overflow: hidden;
  background-color: #fff; }
  .gallery-wrap .img-big-wrap a {
    text-align: center;
    display: block; }
  .gallery-wrap .img-big-wrap img {
    height: 450px;
    width: auto;
    display: inline-block;
    cursor: -webkit-zoom-in;
    cursor: zoom-in; }
.gallery-wrap .thumbs-wrap {
  text-align: center;
  margin-bottom: 20px; }
  .gallery-wrap .thumbs-wrap .item-thumb {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin: 3px;
    display: inline-block;
    overflow: hidden; }
  .gallery-wrap .thumbs-wrap img {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 4px;
    cursor: -webkit-zoom-in;
    cursor: zoom-in; }
    .gallery-wrap .thumbs-wrap img:hover {
      -webkit-filter: brightness(1.1);
              filter: brightness(1.1);
      cursor: -webkit-zoom-in;
      cursor: zoom-in; }

.item-option-select {
  margin-bottom: 1rem;
  display: inline-block;
  margin-right: 15px; }
  .item-option-select .btn {
    min-width: 80px; }

/* ================ PAGES HEADER ================== */
/* ====================== shopping-cart ==================== */
.table-shopping-cart.table td, .table-shopping-cart.table th {
  padding-left: 1.25rem;
  padding-right: 1.25rem; }
.table-shopping-cart .price-wrap {
  line-height: 1.2; }
.table-shopping-cart .price {
  font-weight: bold;
  margin-right: 5px;
  display: block; }

 /* Navbar */
 .site-logo {
    font-size: 2rem;
    color: #000; }
  
  .site-navbar {
    margin-bottom: 0px;
    z-index: 1999;
    width: 100%;
    background: #fff;
    font-family: "poppins" , sans-serif;
    }
    .site-navbar .site-navigation.border-bottom {
      border-bottom: 1px solid #f3f3f4 !important; }
    .site-navbar .site-navigation .site-menu {
      margin-left: 0;
      padding-left: 0;
      margin-bottom: 0; }
      .site-navbar .site-navigation .site-menu .active > a {
        color: #930077;
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px; }
      .site-navbar .site-navigation .site-menu a {
        text-decoration: none !important;
        display: inline-block; }
      .site-navbar .site-navigation .site-menu > li {
        display: inline-block; }
        .site-navbar .site-navigation .site-menu > li:first-child > a {
          padding-left: 0; }
        .site-navbar .site-navigation .site-menu > li > a {
          text-transform: uppercase;
          font-size: .8rem;
          letter-spacing: .05rem;
          font-weight: 400;
          display: inline-block;
          text-decoration: none !important;
          color: #000; }
          .site-navbar .site-navigation .site-menu > li > a:hover {
            color: #000; }
      .site-navbar .site-navigation .site-menu .has-children {
        position: relative; }
        .site-navbar .site-navigation .site-menu .has-children > a {
          position: relative;
          padding-right: 20px; }
          .site-navbar .site-navigation .site-menu .has-children > a:before {
            position: absolute;
            content: "\e313";
            font-size: 16px;
            top: 50%;
            right: 0;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            font-family: 'poppins', sans-serif; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown {
          visibility: hidden;
          opacity: 0;
          top: 100%;
          position: absolute;
          text-align: left;
          border-top: 2px solid #000;
          -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
          border-left: 1px solid #edf0f5;
          border-right: 1px solid #edf0f5;
          border-bottom: 1px solid #edf0f5;
          padding: 0px 0;
          margin-top: 20px;
          margin-left: 0px;
          background: #fff;
          -webkit-transition: 0.2s 0s;
          -o-transition: 0.2s 0s;
          transition: 0.2s 0s; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
            position: absolute; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
              bottom: 100%;
              left: 20%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
              border-color: rgba(136, 183, 213, 0);
              border-bottom-color: #fff;
              border-width: 10px;
              margin-left: -10px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown a {
            font-size: 16px;
            text-transform: none;
            letter-spacing: normal;
            -webkit-transition: 0s all;
            -o-transition: 0s all;
            transition: 0s all;
            color: #343a40; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
            color: #930077 !important; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
            list-style: none;
            padding: 0;
            margin: 0;
            min-width: 200px; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
              padding: 9px 20px;
              display: block; }
              .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
                background: #f4f5f9;
                color: #25262a; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
              content: "\e315";
              right: 20px; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
              left: 100%;
              top: 0; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
              background: #f4f5f9;
              color: #25262a; }
        .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
          color: #000; }
        .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
          cursor: pointer; }
          .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
            -webkit-transition-delay: 0s;
            -o-transition-delay: 0s;
            transition-delay: 0s;
            margin-top: 0px;
            visibility: visible;
            opacity: 1; }
      .site-navbar .site-navigation .site-menu.site-menu-dark > li > a {
        color: #000; }
  
  .site-mobile-menu {
    width: 300px;
    position: fixed;
    right: 0;
    z-index: 2000;
    padding-top: 20px;
    background: #fff;
    height: calc(100vh);
    -webkit-transform: translateX(110%);
    -ms-transform: translateX(110%);
    transform: translateX(110%);
    -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out; }
    .offcanvas-menu .site-mobile-menu {
      -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
      transform: translateX(0%); }
    .site-mobile-menu .site-mobile-menu-header {
      width: 100%;
      float: left;
      padding-left: 20px;
      padding-right: 20px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
        float: right;
        margin-top: 8px; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
          font-size: 30px;
          display: inline-block;
          padding-left: 10px;
          padding-right: 0px;
          line-height: 1;
          cursor: pointer;
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease; }
          .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
            color: #25262a; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
        float: left;
        margin-top: 10px;
        margin-left: 0px; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
          display: inline-block;
          text-transform: uppercase; }
          .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
            max-width: 70px; }
          .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
            text-decoration: none; }
    .site-mobile-menu .site-mobile-menu-body {
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      position: relative;
      padding: 0 20px 20px 20px;
      height: calc(100vh - 52px);
      padding-bottom: 150px; }
    .site-mobile-menu .site-nav-wrap {
      padding: 0;
      margin: 0;
      list-style: none;
      position: relative; }
      .site-mobile-menu .site-nav-wrap a {
        padding: 10px 20px;
        display: block;
        position: relative;
        color: #212529; }
        .site-mobile-menu .site-nav-wrap a:hover {
          color: #930077; }
      .site-mobile-menu .site-nav-wrap li {
        position: relative;
        display: block; }
        .site-mobile-menu .site-nav-wrap li.active > a {
          color: #930077 !important; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse {
        position: absolute;
        right: 0px;
        top: 10px;
        z-index: 20;
        width: 36px;
        height: 36px;
        text-align: center;
        cursor: pointer;
        border-radius: 50%; }
        .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
          background: #f8f9fa; }
        .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
          font-size: 12px;
          z-index: 20;
          font-family: "icomoon";
          content: "\f078";
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%) rotate(-180deg);
          -ms-transform: translate(-50%, -50%) rotate(-180deg);
          transform: translate(-50%, -50%) rotate(-180deg);
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease; }
        .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
      .site-mobile-menu .site-nav-wrap > li {
        display: block;
        position: relative;
        float: left;
        width: 100%; }
        .site-mobile-menu .site-nav-wrap > li > a {
          padding-left: 20px;
          font-size: 20px; }
        .site-mobile-menu .site-nav-wrap > li > ul {
          padding: 0;
          margin: 0;
          list-style: none; }
          .site-mobile-menu .site-nav-wrap > li > ul > li {
            display: block; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > a {
              padding-left: 40px;
              font-size: 16px; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
              padding: 0;
              margin: 0; }
              .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
                display: block; }
                .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
                  font-size: 16px;
                  padding-left: 60px; }
      .site-mobile-menu .site-nav-wrap[data-class="social"] {
        float: left;
        width: 100%;
        margin-top: 30px;
        padding-bottom: 5em; }
        .site-mobile-menu .site-nav-wrap[data-class="social"] > li {
          width: auto; }
          .site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
            padding-left: 15px !important; }
  
  .sticky-wrapper {
    position: absolute;
    z-index: 100;
    width: 100%;
    background: #fff; }
    @media (max-width: 991.98px) {
      .sticky-wrapper {
        display: none; } }
    .sticky-wrapper + .site-blocks-cover {
      margin-top: 96px; }
    .sticky-wrapper .site-navbar {
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
      border-bottom: 1px solid #efefef; }
      .sticky-wrapper .site-navbar .site-logo a {
        color: #000; }
      .sticky-wrapper .site-navbar .site-menu > li {
        display: inline-block; }
        .sticky-wrapper .site-navbar .site-menu > li.active > a {
          color: #930077; }
    .sticky-wrapper.is-sticky .site-navbar .site-logo a {
      color: #000; }
    .sticky-wrapper.is-sticky .site-navbar .site-menu > li {
      display: inline-block; }
      .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a {
        display: inline-block;
        text-decoration: none !important; }
        .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a:hover {
          color: #000; }
        .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a.active:after {
          background: #930077; }
      .sticky-wrapper.is-sticky .site-navbar .site-menu > li.active > a {
        color: #000; }
    .sticky-wrapper .shrink {
      padding-top: 10px !important;
      padding-bottom: 10px !important; }
  

.header-top > .container {
    padding-top: 30px;
    padding-bottom: 30px; }
  
  .header-top .quick-contact-icons .icon {
    margin-right: 10px; }
    .header-top .quick-contact-icons .icon span {
      font-size: 40px;
      line-height: 0; }
  
  .header-top .quick-contact-icons .text .h4 {
    font-size: 1.2rem;
    color: #000;
    margin-bottom: 0; }
  
  .header-top .quick-contact-icons .text .caption-text {
    font-size: 1rem; }

    .section-title {
        color: #000;
        margin-bottom: 50px; }
        .section-title h2 {
          font-size: 2rem;
          font-weight: 400;
          position: relative;
          display: inline-block;
          font-family: 'Cinzel', serif; }
      
      .section-subtitle {
        font-weight: 300;
        color: #930077;
        text-transform: uppercase;
        font-size: 1.3rem; }
.btn-honey{
    background-color: #eb9605;
    border-color: #eb9605;
    
}    
a.btn.btn-dark{
  font-family: "poppins" , sans-serif;
  border-radius: 16px;
  font-size: 13px;
}
input-group{
  border-radius: 16px;
}
.btn-grey{
  background-color:#D8D8D8;
color:#FFF;
}
.rating-block{
background-color:#FAFAFA;
border:1px solid #EFEFEF;
padding:15px 15px 20px 15px;
border-radius:10px;
}
.rating-block i{
  color: #eb9605;
}
.bold{
font-weight:700;
}
.padding-bottom-7{
padding-bottom:7px;
}

.review-block{
background-color:#FAFAFA;
border:1px solid #EFEFEF;
padding:15px;
border-radius:10px;
margin-bottom:15px;
}
.review-block-name{
font-size:12px;
margin:10px 0;
}
.review-block-date{
font-size:12px;
}
.review-block-rate{
font-size:13px;
margin-bottom:15px;
}
.review-block-title{
font-size:15px;
font-weight:700;
margin-bottom:10px;
}
.review-block-description{
font-size:13px;
}
.progress-bar{
  background-color: #eb9605;
}

.review-block i{
 color: #eb9605;
}

/*side bar */

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
min-height: 100vh;
margin-left: -15rem;
-webkit-transition: margin .25s ease-out;
-moz-transition: margin .25s ease-out;
-o-transition: margin .25s ease-out;
transition: margin .25s ease-out;

}
.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  background-color: #fff;
  border: 1px solid #fffdd0;
}
#sidebar-wrapper .sidebar-heading {
padding: 0.875rem 1.25rem;
font-size: 1.2rem;

}

#sidebar-wrapper .list-group {
width: 15rem;
}

#page-content-wrapper {
min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
margin-left: 0;
}

@media (min-width: 768px) {
#sidebar-wrapper {
  margin-left: 0;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: -15rem;
}


.top-bar {
  font-family: 'arial' ,sans-serif;
 padding: 0%;
  font-size: 12px;
}
.top-bar a{
  color: white;
}

.navbar-honey-a{
  padding: 2rem;
   
}
}
.nav-link{
  font-family: "poppins" , sans-serif;
  font-weight: normal;
}

a.btn.btn-dark{
  font-family: "poppins" , sans-serif;
  border-radius: 16px;
  font-size: 13px;
  color: white;
}
.side{
  color: #fffdd0;
}
.side a{
  color: #fffdd0;
}